@import './reset';
@import './variable';

.big{
    width: 100%;
    background-color: $primarycolor;
    .container{
        .showcase{
            padding: 4rem 0;
        }
    }
}

header{
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    background-color: $primarycolor;
    
    .container{
        .nav{
            height: 5rem;
            display: flex; justify-content: space-between; align-items: center;
        }
    }
}

.header_right{
       display: flex; justify-content: space-between; align-items: center; gap: 15rem;
       label{
        display: none;
       }
       input{
        display: none;
       }
    ul{
        display: flex; justify-content: space-between; align-items: center; gap: 2rem;
        li{
            a{
                color: rgba(255, 255, 255, 0.599);
            }
            .active{
                color: white;
            }
        }
        & ~ a{
            @include tugma();
        }
    }
    
}

.showcase{
    display: grid; grid-template-columns: 1fr 1.1fr;
    align-items: center;
    .showleft{
        h3{
            color: $maincolor;
            font-size: 1.4rem;
            text-transform: uppercase;
        }
        h1{
            width: 85%;
            font-size: 3.9rem;
            color: white;
            padding: 1rem 0;
            line-height: 120%;
            span{
                color: rgba(207, 76, 93, 0.288);
            }
        }
        p{
            color: white;
            opacity: 70%;
        }
        .showpast{
            display: flex; justify-content: space-between; align-items: center;
            a{
                @include tugma();
                // display: block;
                // margin: 3rem 0;
            }
            img{
                // position: relative;
                // background-color: #fff;
                width: 40%;
            }
        }
    }
    .showright{
        background-image: url('../media/background image.svg');
        background-position: 0 0;
        background-repeat: no-repeat;
        img{
            width: 100%;
            height: 100%;
        }
    }
}

.big_cards{
    padding: 5rem 0;
    display: grid; grid-template-columns: repeat(4, 1fr); gap: 1rem; 
    .big_card{
        display: flex; flex-direction: column; row-gap: 2rem;
        align-items: center;
        p{
            text-transform: capitalize;
            opacity: 0.8;
            color: $primarycolor;
            font-size: 1.2rem;
            font-weight: 500;
        }

        & img{
            width: 100%;
        }

        &:hover{
        .line{
            width: 60%;
            height: 5px;
            border-radius: 2.5px;
            background-color: $maincolor;
        }
        p{
            opacity: 1;
        }
        }  
    }
}

.bag{
    display: flex; gap: 15%; align-items: center;
   .bag_left{
        margin-left: -10%;
        & img{
            width: 120%;
        }
   } 
   .bag_right{
        h6{
            font-weight: 500;
            font-size: 1.1rem;
            text-transform: uppercase;
            color: $maincolor;
        }
        h1{
            @include subh1();
            padding: 1rem 0;
        }
        p{
            @include subp();
            padding-bottom: 2rem
        }
        a{
            @include tugma();
            text-align: center;
            text-transform: capitalize;
        }
   }
}

.bags{
    padding: 5rem 0; 
    display: flex; flex-direction: column; 
    align-items: center; justify-content: center;

    .bags_title{
        width: 40%;
        text-align: center;
        display: flex; flex-direction: column; row-gap: 1rem;
        align-items: center; justify-content: center;
        h1{
            @include subh1();
        }
        p{
            @include subp();
        }
    }
    .bags_cards{
        padding: 4rem 0;
        display: grid; grid-template-columns: repeat(4, 1fr); 
        gap:  4rem 2rem;
        .bags_card{
            @include bcg();
            & img{
                width: 100%;
                margin-bottom: -45%;
            }
        }
        .bags_card3{
            @include bcg($rang: #f7eff9)
        }
        .bags_card5{
            @include bcg($rang: #edf1fb)
        }
        .bags_card7{
            @include bcg($rang: #e9eff7)
        }
        .bags_card8{
            @include bcg($rang: #f5f8de)
        }
    }

    a{
        margin-top: 2rem;
        @include tugma();
        text-align: center;
        text-transform: capitalize;
        &:hover{
            &i{
                color: white;
            }
        }
        
    }
}

.people{
    width: 100%;
    // height: 100%;
    background: rgba(47, 47, 47, 0.95);
    display: grid; grid-template-columns: 1fr 1.5fr; align-items: center;
    box-shadow: 0px 0px 30px 4px rgba(232, 232, 232, 0.4);
    border-radius: 10px;
    // margin-bottom: 80rem;
    .left{
        width: 100%;
        height: 100%;
        & img{
            width: 100%;
            height: 100%;
        }
    }
    .right{
        background-image: url('../media/dolorbgi.svg');
        background-size: cover;
        background-position: center;
        h1{
            width: 80%;
            margin: 0 auto;
            color: white;
            text-align: center;
        }
        form{
            display: flex; flex-direction: column; row-gap: 1rem; align-items: center; justify-content: center;
            h1{
                @include subh1(); 
                color: white;
                width: 80%;
            }
         
        }
    }

}

.name{
    width: 80%;
    display: grid; grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    input{
        width: 100%;
        padding: 0.5rem;
        margin: 0.4rem 0;
        border-radius: 10px;
        outline: none;
        border: 1px solid gray;
        background-color: transparent;
    }
}

.add{
    width: 80%;
    padding: 0.5rem;
    border-radius: 10px;
    outline: none;
    border: 1px solid gray;
    background-color: transparent;
}

.lorem{
    padding: 2rem 0;
    width: 80%;
    & label{
        margin-right: 5%;
        text-transform: capitalize;
        color: gray;
        @include subp();
    }

    .chedk{
        accent-color: #544e4e;
    }

   & button{
    @include tugma();
    background-color: transparent;
   }
}

.partners{
    width: 100%;
    display: grid; grid-template-columns: repeat(4, 1fr); gap: 1rem;
    padding: 3rem 0;
    .pcards{
        img{
            width: 100%;
        }
    }
}

.footer{
    width: 100%;
    background-color: $primarycolor;
    padding: 4rem 0;
}

.foo__cards{
    display: grid; grid-template-columns: repeat(4, 1fr); gap: 1rem;
    p{
        color: white;
        width: 90%;
        opacity: 70%;
        padding: 0.4rem 0;
        line-height: 150%;
    }
    h2{
        font-size: 1.6rem;
        color: white;
        font-weight: 200;
        padding-bottom: 1rem;
    }
    &__card1{
        img{
            padding-bottom: 1rem;
        }
    }

    &__card3{
        a{
            opacity: 70%;
            color: white;
            padding: 0.4rem 0;
            display: inline-block;
        }
    }

    &__card4{
        h2{
            padding-bottom: 1.4rem;
        }
        .card4_input{
            width: 90%;
            padding-bottom: 3rem;
            border-radius: 0.5rem;
            input{
                border-radius: 0.5rem;
                border: none;
                outline: none;
                width: 100%;
                padding: 0.7rem 1.3rem;
               } 
        }
        a{
            @include tugma();
        }
    }
}



@media (max-width:1300px){

    .bag{
        display: flex; gap: 12%; align-items: center;
       .bag_left{
        margin-left: -10%;
        & img{
            width: 110%;
        }
       } 
       .bag_right{
            h6{
                font-size: 1rem;
            }
            h1{
                font-size: 1.3rem;
            }
            p{
               font-size: 0.8rem;
            }
            a{
                font-size: 0.8rem;
            }
       }
    }

    .bags{
        padding: 4rem 0; 
        .bags_title{
            width: 60%;
            h1{
                @include subh1();
                font-size: 1.3rem
            }
            p{
                @include subp();
                font-size: 0.8rem
            }
        }
        .bags_cards{
            padding: 3rem 0;
            display: grid; grid-template-columns: repeat(4, 1fr); 
            gap:  4rem 2rem;
            .bags_card{
                @include bcg();
                & img{
                    width: 100%;
                    margin-bottom: -45%;
                }
            }
        }
        a{
            margin-top: 2rem;
            @include tugma();
            text-align: center;
            text-transform: capitalize;
            font-size: 0.8rem;
            &:hover{
                &i{
                    color: white;
                }
            }
            
        }
    }
}

@media (max-width: 1200px){

    .header_right{
        gap: 10rem;
    }

    .showcase{
        .showleft{
            h1{
                width: 100%;
            }
        }
    }
}

@media (max-width: 1000px){
    
    .header_right{
        gap: 6rem;
    }

    .showcase{
        display: flex; flex-direction: column; align-items: center;
        align-items: center;
        .showleft{
            padding: 5rem 0;
            h3{
                color: $maincolor;
                font-size: 1.4rem;
                text-transform: uppercase;
            }
            h1{
                width: 85%;
                font-size: 3.9rem;
                color: white;
                padding: 1rem 0;
                line-height: 120%;
                span{
                    color: rgba(207, 76, 93, 0.288);
                }
            }
            p{
                color: white;
                opacity: 70%;
            }
    }
    }

    .people{

        .right{
            h1{
                font-size: 1.2rem;
                width: 90%;
            }
        }
    
    }

    .lorem{
 
       & button{
        padding: 0.3rem 1rem;
        font-size: 0.8rem;
       }
    }

    .foo__cards{
        grid-template-columns: repeat(2, 1fr); gap: 1rem;
    }
}

@media (max-width: 800px){

    .logo{
        a{
            img{
                width: 70%;
            }
        }
    }

    .header_right{
        gap: 3rem;
        ul{
            gap: 1rem;
            & ~ a{
                padding: 0.4rem 1rem;
                font-size: 0.8rem;
            }
        }
    }

    .big_cards{
        padding: 5rem 0;
        display: grid; grid-template-columns: repeat(2, 1fr); gap: 1rem;
        .big_card{
            row-gap: 1.5rem;
            p{
                font-size: 1.1rem;
            }
        }  
    }

    .bag{
        display: flex; flex-direction: column; row-gap: 2rem; align-items: center;
       .bag_left{
        margin-left: 0;
        & img{
            width: 90%;
        }
       } 
       .bag_right{
        text-align: center;
            h6{
                font-size: 0.9rem;
            }
            h1{
                font-size: 1rem;
            }
            p{
               font-size: 0.7rem;
               line-height: 1.2rem;
            }
            a{
                font-size: 0.7rem;
            }
       }
    }

    .bags{
        padding: 4rem 0; 
        .bags_title{
            width: 60%;
            h1{
                @include subh1();
                font-size: 1.1rem
            }
            p{
                @include subp();
                font-size: 0.7rem
            }
        }
        .bags_cards{
            padding: 3rem 0;
            display: grid; grid-template-columns: repeat(2, 1fr); 
            gap:  4rem 2rem;
            .bags_card{
                @include bcg();
                & img{
                    width: 100%;
                    margin-bottom: -45%;
                }
            }
        }
        a{
            margin-top: 2rem;
            @include tugma();
            text-align: center;
            text-transform: capitalize;
            font-size: 0.7rem;
            &:hover{
                &i{
                    color: white;
                }
            }
            
        }
    }

    .people{
        grid-template-columns: 1fr;
        .left{
            padding: 2rem 0;
        }
        .right{
            padding: 2rem 0;
            h1{
                width: 100%;
                font-size: 1rem;
            }
            form{
                display: flex; flex-direction: column; row-gap: 1rem; align-items: center; justify-content: center;
                h1{
                    @include subh1(); 
                    color: white;
                    width: 80%;
                }
             
            }
        }
    }

    .name{
        display: grid; grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .partners{
        grid-template-columns: repeat(2, 1fr);
        padding: 2rem 0;
    }
}

@media (max-width: 600px){

    .header_right{
        label{
            display: block;
        }
        #menu:checked ~ ul{
            left: 0;
        }
        gap: 10rem;
        ul{
            width: 100%;
            position: fixed;
            top: 5rem;
            left: -100%;
            right: 0;
            bottom: 0;
            background-color: $primarycolor;
            flex-direction: column; justify-content: center;
            gap: 3rem;
            & ~ a{
                padding: 0.4rem 1rem;
                font-size: 0.8rem;
            }
        }
    }

    .showcase{
        padding: 3rem 0;
        .showleft{
            h3{
                font-size: 1rem;
            }
            h1{
                width: 85%;
                font-size: 2.5rem;
                padding: 1rem 0;
                line-height: 120%;
    }
        }
    }

    .big_cards{
        padding: 4rem 0;
        display: grid; grid-template-columns: repeat(1, 1fr); gap: 1rem;
        .big_card{
            row-gap: 1rem;
            p{
                font-size: 1rem;
            }
        }  
    }
    
    .bags{
        padding: 4rem 0; 
        .bags_title{
            width: 60%;
            h1{
                @include subh1();
                font-size: 1.1rem
            }
            p{
                @include subp();
                font-size: 0.7rem
            }
        }
        .bags_cards{
            padding: 3rem 0;
            display: grid; grid-template-columns: repeat(1, 1fr); 
            row-gap:  5rem;
            .bags_card{
                @include bcg();
                & img{
                    width: 100%;
                    margin-bottom: -45%;
                }
            }
        }
        a{
            margin-top: 2rem;
            @include tugma();
            text-align: center;
            text-transform: capitalize;
            font-size: 0.7rem;
            &:hover{
                &i{
                    color: white;
                }
            }
            
        }
    }

    .foo__cards{
        grid-template-columns: 1fr; text-align: center; gap: 1rem;
        p{
            width: 100%;
        }
        .card4_input{
            width: 100%;
            margin: 0 auto;
        }
    }
}

@media (max-width: 500px){

    .header_right{
        gap: 5rem;
    }

    .partners{
        grid-template-columns: 1fr;
        padding: 2rem 0;
    }
}

@media (max-width: 400px){

    .header_right{
        gap: 3rem;
    }

    .showcase{
        padding: 2rem 0;
        .showleft{
            h3{
                font-size: 0.8rem;
            }
            h1{
                width: 85%;
                font-size: 1.5rem;
                padding: 0.8rem 0;
                line-height: 120%;
    }
        }
    }
}