@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif; }

.container {
  width: 80%;
  max-width: 1440px;
  margin: 0 auto; }

.big {
  width: 100%;
  background-color: #2F2F2F; }
  .big .container .showcase {
    padding: 4rem 0; }

header {
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  background-color: #2F2F2F; }
  header .container .nav {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }

.header_right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15rem; }
  .header_right label {
    display: none; }
  .header_right input {
    display: none; }
  .header_right ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem; }
    .header_right ul li a {
      color: rgba(255, 255, 255, 0.599); }
    .header_right ul li .active {
      color: white; }
    .header_right ul ~ a {
      border-radius: 0.4rem;
      padding: 0.6rem 1.3rem;
      border: 1px solid rgba(130, 125, 125, 0.368);
      color: #F59B00;
      font-size: 1rem; }
      .header_right ul ~ a:hover {
        color: white;
        background-color: #F59B00; }

.showcase {
  display: grid;
  grid-template-columns: 1fr 1.1fr;
  align-items: center; }
  .showcase .showleft h3 {
    color: #F59B00;
    font-size: 1.4rem;
    text-transform: uppercase; }
  .showcase .showleft h1 {
    width: 85%;
    font-size: 3.9rem;
    color: white;
    padding: 1rem 0;
    line-height: 120%; }
    .showcase .showleft h1 span {
      color: rgba(207, 76, 93, 0.288); }
  .showcase .showleft p {
    color: white;
    opacity: 70%; }
  .showcase .showleft .showpast {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .showcase .showleft .showpast a {
      border-radius: 0.4rem;
      padding: 0.6rem 1.3rem;
      border: 1px solid rgba(130, 125, 125, 0.368);
      color: #F59B00;
      font-size: 1rem; }
      .showcase .showleft .showpast a:hover {
        color: white;
        background-color: #F59B00; }
    .showcase .showleft .showpast img {
      width: 40%; }
  .showcase .showright {
    background-image: url("../media/background image.svg");
    background-position: 0 0;
    background-repeat: no-repeat; }
    .showcase .showright img {
      width: 100%;
      height: 100%; }

.big_cards {
  padding: 5rem 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem; }
  .big_cards .big_card {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    align-items: center; }
    .big_cards .big_card p {
      text-transform: capitalize;
      opacity: 0.8;
      color: #2F2F2F;
      font-size: 1.2rem;
      font-weight: 500; }
    .big_cards .big_card img {
      width: 100%; }
    .big_cards .big_card:hover .line {
      width: 60%;
      height: 5px;
      border-radius: 2.5px;
      background-color: #F59B00; }
    .big_cards .big_card:hover p {
      opacity: 1; }

.bag {
  display: flex;
  gap: 15%;
  align-items: center; }
  .bag .bag_left {
    margin-left: -10%; }
    .bag .bag_left img {
      width: 120%; }
  .bag .bag_right h6 {
    font-weight: 500;
    font-size: 1.1rem;
    text-transform: uppercase;
    color: #F59B00; }
  .bag .bag_right h1 {
    font-size: 1.5rem;
    text-transform: capitalize;
    padding: 1rem 0; }
  .bag .bag_right p {
    font-size: 0.9rem;
    color: #2F2F2F;
    opacity: 0.9;
    text-transform: capitalize;
    line-height: 1.5rem;
    padding-bottom: 2rem; }
  .bag .bag_right a {
    border-radius: 0.4rem;
    padding: 0.6rem 1.3rem;
    border: 1px solid rgba(130, 125, 125, 0.368);
    color: #F59B00;
    font-size: 1rem;
    text-align: center;
    text-transform: capitalize; }
    .bag .bag_right a:hover {
      color: white;
      background-color: #F59B00; }

.bags {
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .bags .bags_title {
    width: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: center;
    justify-content: center; }
    .bags .bags_title h1 {
      font-size: 1.5rem;
      text-transform: capitalize; }
    .bags .bags_title p {
      font-size: 0.9rem;
      color: #2F2F2F;
      opacity: 0.9;
      text-transform: capitalize;
      line-height: 1.5rem; }
  .bags .bags_cards {
    padding: 4rem 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem 2rem; }
    .bags .bags_cards .bags_card {
      background: #fbebf0d6;
      border: 2px solid #fbebf0d6;
      border-radius: 10px; }
      .bags .bags_cards .bags_card img {
        width: 100%;
        margin-bottom: -45%; }
    .bags .bags_cards .bags_card3 {
      background: #f7eff9;
      border: 2px solid #f7eff9;
      border-radius: 10px; }
    .bags .bags_cards .bags_card5 {
      background: #edf1fb;
      border: 2px solid #edf1fb;
      border-radius: 10px; }
    .bags .bags_cards .bags_card7 {
      background: #e9eff7;
      border: 2px solid #e9eff7;
      border-radius: 10px; }
    .bags .bags_cards .bags_card8 {
      background: #f5f8de;
      border: 2px solid #f5f8de;
      border-radius: 10px; }
  .bags a {
    margin-top: 2rem;
    border-radius: 0.4rem;
    padding: 0.6rem 1.3rem;
    border: 1px solid rgba(130, 125, 125, 0.368);
    color: #F59B00;
    font-size: 1rem;
    text-align: center;
    text-transform: capitalize; }
    .bags a:hover {
      color: white;
      background-color: #F59B00; }
    .bags a:hoveri {
      color: white; }

.people {
  width: 100%;
  background: rgba(47, 47, 47, 0.95);
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  align-items: center;
  box-shadow: 0px 0px 30px 4px rgba(232, 232, 232, 0.4);
  border-radius: 10px; }
  .people .left {
    width: 100%;
    height: 100%; }
    .people .left img {
      width: 100%;
      height: 100%; }
  .people .right {
    background-image: url("../media/dolorbgi.svg");
    background-size: cover;
    background-position: center; }
    .people .right h1 {
      width: 80%;
      margin: 0 auto;
      color: white;
      text-align: center; }
    .people .right form {
      display: flex;
      flex-direction: column;
      row-gap: 1rem;
      align-items: center;
      justify-content: center; }
      .people .right form h1 {
        font-size: 1.5rem;
        text-transform: capitalize;
        color: white;
        width: 80%; }

.name {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem; }
  .name input {
    width: 100%;
    padding: 0.5rem;
    margin: 0.4rem 0;
    border-radius: 10px;
    outline: none;
    border: 1px solid gray;
    background-color: transparent; }

.add {
  width: 80%;
  padding: 0.5rem;
  border-radius: 10px;
  outline: none;
  border: 1px solid gray;
  background-color: transparent; }

.lorem {
  padding: 2rem 0;
  width: 80%; }
  .lorem label {
    margin-right: 5%;
    text-transform: capitalize;
    color: gray;
    font-size: 0.9rem;
    color: #2F2F2F;
    opacity: 0.9;
    text-transform: capitalize;
    line-height: 1.5rem; }
  .lorem .chedk {
    accent-color: #544e4e; }
  .lorem button {
    border-radius: 0.4rem;
    padding: 0.6rem 1.3rem;
    border: 1px solid rgba(130, 125, 125, 0.368);
    color: #F59B00;
    font-size: 1rem;
    background-color: transparent; }
    .lorem button:hover {
      color: white;
      background-color: #F59B00; }

.partners {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 3rem 0; }
  .partners .pcards img {
    width: 100%; }

.footer {
  width: 100%;
  background-color: #2F2F2F;
  padding: 4rem 0; }

.foo__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem; }
  .foo__cards p {
    color: white;
    width: 90%;
    opacity: 70%;
    padding: 0.4rem 0;
    line-height: 150%; }
  .foo__cards h2 {
    font-size: 1.6rem;
    color: white;
    font-weight: 200;
    padding-bottom: 1rem; }
  .foo__cards__card1 img {
    padding-bottom: 1rem; }
  .foo__cards__card3 a {
    opacity: 70%;
    color: white;
    padding: 0.4rem 0;
    display: inline-block; }
  .foo__cards__card4 h2 {
    padding-bottom: 1.4rem; }
  .foo__cards__card4 .card4_input {
    width: 90%;
    padding-bottom: 3rem;
    border-radius: 0.5rem; }
    .foo__cards__card4 .card4_input input {
      border-radius: 0.5rem;
      border: none;
      outline: none;
      width: 100%;
      padding: 0.7rem 1.3rem; }
  .foo__cards__card4 a {
    border-radius: 0.4rem;
    padding: 0.6rem 1.3rem;
    border: 1px solid rgba(130, 125, 125, 0.368);
    color: #F59B00;
    font-size: 1rem; }
    .foo__cards__card4 a:hover {
      color: white;
      background-color: #F59B00; }

@media (max-width: 1300px) {
  .bag {
    display: flex;
    gap: 12%;
    align-items: center; }
    .bag .bag_left {
      margin-left: -10%; }
      .bag .bag_left img {
        width: 110%; }
    .bag .bag_right h6 {
      font-size: 1rem; }
    .bag .bag_right h1 {
      font-size: 1.3rem; }
    .bag .bag_right p {
      font-size: 0.8rem; }
    .bag .bag_right a {
      font-size: 0.8rem; }

  .bags {
    padding: 4rem 0; }
    .bags .bags_title {
      width: 60%; }
      .bags .bags_title h1 {
        font-size: 1.5rem;
        text-transform: capitalize;
        font-size: 1.3rem; }
      .bags .bags_title p {
        font-size: 0.9rem;
        color: #2F2F2F;
        opacity: 0.9;
        text-transform: capitalize;
        line-height: 1.5rem;
        font-size: 0.8rem; }
    .bags .bags_cards {
      padding: 3rem 0;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 4rem 2rem; }
      .bags .bags_cards .bags_card {
        background: #fbebf0d6;
        border: 2px solid #fbebf0d6;
        border-radius: 10px; }
        .bags .bags_cards .bags_card img {
          width: 100%;
          margin-bottom: -45%; }
    .bags a {
      margin-top: 2rem;
      border-radius: 0.4rem;
      padding: 0.6rem 1.3rem;
      border: 1px solid rgba(130, 125, 125, 0.368);
      color: #F59B00;
      font-size: 1rem;
      text-align: center;
      text-transform: capitalize;
      font-size: 0.8rem; }
      .bags a:hover {
        color: white;
        background-color: #F59B00; }
      .bags a:hoveri {
        color: white; } }
@media (max-width: 1200px) {
  .header_right {
    gap: 10rem; }

  .showcase .showleft h1 {
    width: 100%; } }
@media (max-width: 1000px) {
  .header_right {
    gap: 6rem; }

  .showcase {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center; }
    .showcase .showleft {
      padding: 5rem 0; }
      .showcase .showleft h3 {
        color: #F59B00;
        font-size: 1.4rem;
        text-transform: uppercase; }
      .showcase .showleft h1 {
        width: 85%;
        font-size: 3.9rem;
        color: white;
        padding: 1rem 0;
        line-height: 120%; }
        .showcase .showleft h1 span {
          color: rgba(207, 76, 93, 0.288); }
      .showcase .showleft p {
        color: white;
        opacity: 70%; }

  .people .right h1 {
    font-size: 1.2rem;
    width: 90%; }

  .lorem button {
    padding: 0.3rem 1rem;
    font-size: 0.8rem; }

  .foo__cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem; } }
@media (max-width: 800px) {
  .logo a img {
    width: 70%; }

  .header_right {
    gap: 3rem; }
    .header_right ul {
      gap: 1rem; }
      .header_right ul ~ a {
        padding: 0.4rem 1rem;
        font-size: 0.8rem; }

  .big_cards {
    padding: 5rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem; }
    .big_cards .big_card {
      row-gap: 1.5rem; }
      .big_cards .big_card p {
        font-size: 1.1rem; }

  .bag {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    align-items: center; }
    .bag .bag_left {
      margin-left: 0; }
      .bag .bag_left img {
        width: 90%; }
    .bag .bag_right {
      text-align: center; }
      .bag .bag_right h6 {
        font-size: 0.9rem; }
      .bag .bag_right h1 {
        font-size: 1rem; }
      .bag .bag_right p {
        font-size: 0.7rem;
        line-height: 1.2rem; }
      .bag .bag_right a {
        font-size: 0.7rem; }

  .bags {
    padding: 4rem 0; }
    .bags .bags_title {
      width: 60%; }
      .bags .bags_title h1 {
        font-size: 1.5rem;
        text-transform: capitalize;
        font-size: 1.1rem; }
      .bags .bags_title p {
        font-size: 0.9rem;
        color: #2F2F2F;
        opacity: 0.9;
        text-transform: capitalize;
        line-height: 1.5rem;
        font-size: 0.7rem; }
    .bags .bags_cards {
      padding: 3rem 0;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 4rem 2rem; }
      .bags .bags_cards .bags_card {
        background: #fbebf0d6;
        border: 2px solid #fbebf0d6;
        border-radius: 10px; }
        .bags .bags_cards .bags_card img {
          width: 100%;
          margin-bottom: -45%; }
    .bags a {
      margin-top: 2rem;
      border-radius: 0.4rem;
      padding: 0.6rem 1.3rem;
      border: 1px solid rgba(130, 125, 125, 0.368);
      color: #F59B00;
      font-size: 1rem;
      text-align: center;
      text-transform: capitalize;
      font-size: 0.7rem; }
      .bags a:hover {
        color: white;
        background-color: #F59B00; }
      .bags a:hoveri {
        color: white; }

  .people {
    grid-template-columns: 1fr; }
    .people .left {
      padding: 2rem 0; }
    .people .right {
      padding: 2rem 0; }
      .people .right h1 {
        width: 100%;
        font-size: 1rem; }
      .people .right form {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        align-items: center;
        justify-content: center; }
        .people .right form h1 {
          font-size: 1.5rem;
          text-transform: capitalize;
          color: white;
          width: 80%; }

  .name {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem; }

  .partners {
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem 0; } }
@media (max-width: 600px) {
  .header_right {
    gap: 10rem; }
    .header_right label {
      display: block; }
    .header_right #menu:checked ~ ul {
      left: 0; }
    .header_right ul {
      width: 100%;
      position: fixed;
      top: 5rem;
      left: -100%;
      right: 0;
      bottom: 0;
      background-color: #2F2F2F;
      flex-direction: column;
      justify-content: center;
      gap: 3rem; }
      .header_right ul ~ a {
        padding: 0.4rem 1rem;
        font-size: 0.8rem; }

  .showcase {
    padding: 3rem 0; }
    .showcase .showleft h3 {
      font-size: 1rem; }
    .showcase .showleft h1 {
      width: 85%;
      font-size: 2.5rem;
      padding: 1rem 0;
      line-height: 120%; }

  .big_cards {
    padding: 4rem 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem; }
    .big_cards .big_card {
      row-gap: 1rem; }
      .big_cards .big_card p {
        font-size: 1rem; }

  .bags {
    padding: 4rem 0; }
    .bags .bags_title {
      width: 60%; }
      .bags .bags_title h1 {
        font-size: 1.5rem;
        text-transform: capitalize;
        font-size: 1.1rem; }
      .bags .bags_title p {
        font-size: 0.9rem;
        color: #2F2F2F;
        opacity: 0.9;
        text-transform: capitalize;
        line-height: 1.5rem;
        font-size: 0.7rem; }
    .bags .bags_cards {
      padding: 3rem 0;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      row-gap: 5rem; }
      .bags .bags_cards .bags_card {
        background: #fbebf0d6;
        border: 2px solid #fbebf0d6;
        border-radius: 10px; }
        .bags .bags_cards .bags_card img {
          width: 100%;
          margin-bottom: -45%; }
    .bags a {
      margin-top: 2rem;
      border-radius: 0.4rem;
      padding: 0.6rem 1.3rem;
      border: 1px solid rgba(130, 125, 125, 0.368);
      color: #F59B00;
      font-size: 1rem;
      text-align: center;
      text-transform: capitalize;
      font-size: 0.7rem; }
      .bags a:hover {
        color: white;
        background-color: #F59B00; }
      .bags a:hoveri {
        color: white; }

  .foo__cards {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 1rem; }
    .foo__cards p {
      width: 100%; }
    .foo__cards .card4_input {
      width: 100%;
      margin: 0 auto; } }
@media (max-width: 500px) {
  .header_right {
    gap: 5rem; }

  .partners {
    grid-template-columns: 1fr;
    padding: 2rem 0; } }
@media (max-width: 400px) {
  .header_right {
    gap: 3rem; }

  .showcase {
    padding: 2rem 0; }
    .showcase .showleft h3 {
      font-size: 0.8rem; }
    .showcase .showleft h1 {
      width: 85%;
      font-size: 1.5rem;
      padding: 0.8rem 0;
      line-height: 120%; } }

/*# sourceMappingURL=style.css.map */
